body{
 background-image: url(img/fondo.avif);
}

* {
    font-family: monospace;
}


h1, h3 {
    text-align: center;
}

h1 {
    font-weight: 800;
    font-size: 3.5em;
    margin-top: 3em;
}

h3 {
    font-size: 1.2em;
    padding: 0.4em;
}


#flores {
    width: 3%;
    padding: 1em;
    margin: 1.1em auto 1.1em auto ;
    display: flex;
    justify-content: center;
    border-style: solid;
    border-radius: 3em;
    border-color: rgb(255, 250, 250);
    border-width: 0.2em;
}

.navbar {
    background-color: #ffffff46;
    position: fixed;
    top: 0;
    width: 100%;
    margin: auto;
  }
  
.idioma {
    text-align: center;
    background-color: #d69da093;
    width: 17%;
    font-size: 1em;
    margin: auto auto 2em auto;
    padding: 0.8em;
  }

a {
    color: white;
}

.intro {
    display: flex;
    justify-content: center;
    max-width: 80%;
    margin: auto auto 2em auto;
}

#intro {
    text-align: justify;
    padding: 3em;
    margin: auto;
    font-size: 1.6em;
    word-spacing: 0.5em;
    line-height: 5vw;

}

.color {
    font-weight: bold;
    color: #d69da0;
}

.portada {
    justify-content: center;
    width: 25%;
    margin: auto;
    padding: 2em;
    border: double;

}

.descripcion {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    border-top: solid black 0.1em;
    border-bottom: solid black 0.1em;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 2.0;
    display: flex;
}

.columna {
    padding: 1em;
    margin: 3em auto 1em auto;
    width: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: solid;
    border-radius: 3em;
    border-width: 0.5em;
    background-color: rgba(255, 255, 255, 0.212);
}

.formacion, .intereses {
    text-align: center;
    padding: 0.5em;
    font-size: 1.4em;
    margin-top: 1em;
    line-height: 2.3;
}

#interesestitulo, #formaciontitulo {
    font-weight: bolder;
}

.redes{
    font-size: 1.5em;
    line-height: 2.0;
    text-align: center;
    padding: 1.5em;
    margin-top: 1em;
}

.logo {
    width: 3em;
    margin: auto 1em auto 1em;
    border: solid;
    border-width: 0.5em;
    border-radius: 1em;
}

#mail {
    background-color: rgba(255, 255, 255, 0.521);
    color: #d69da0;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.7em;
}

@media only screen and (max-width: 600px) {
    body {
      grid-template-columns: 1fr 1fr;
    }

    #flores {
        width: 8%;
    }

    h1 {
        font-size: 2.7em;
    }

    .idioma {
        font-size: 0.8em;
      }

    .intro {
        display:block; /* Cambia el display de flex a block */
    }

    #intro {
        font-size: 1.2em;
    }
    .portada {
        margin: 1em auto 1em auto;
        display: flex;
        justify-content: center;
        width: 70%;

    }

    .descripcion {
        font-size: 1.2em;
    }

    .columna {
        width: 80%;
    }

    .formacion, .intereses {
        font-size: 1em;
    }

    .logo {
        width: 1.5em;
    }

    .redes{
        font-size: 1.3em;
    }

    #mail {
        display: flex;
        justify-content: center;
        margin-top: 1em;
    }
  }